node_modules/
dist/
out/
build/
build_*/
release/
cmake-build-*/
aqtinstall.log
deploy/package.ini
tmp_*/
RP-Soundboard/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

app-config.json
grid-config.json

sounds/*
!sounds/.gitkeep

resources/*
!resources/.gitkeep

.DS_Store
Thumbs.db
