node_modules/
dist/
out/
build/
build_mingw/
release/
cmake-build-*/
aqtinstall.log
deploy/package.ini

npm-debug.log*
yarn-debug.log*
yarn-error.log*

app-config.json
grid-config.json

sounds/*
!sounds/.gitkeep
!sounds/cigarette-light.wav
!sounds/cigarette-inhale.wav
!sounds/bone-crack.wav
!sounds/handcuffs-click.wav
!sounds/medkit-open.wav
!sounds/police-radio-chatter.wav
!sounds/cash-count.wav
!sounds/car-lock-beep.wav

resources/*
!resources/.gitkeep

.DS_Store
Thumbs.db
